.logo-reseau {
  width: 80px;
  height: auto;
  margin: 0 10px;
  transition: transform 0.2s;
}

.logo-reseau:hover {
  transform: scale(1.2);
}
.ligne-images {
  display: flex;
  justify-content: center;  /* centre les images horizontalement */
  align-items: center;      /* centre verticalement si utile */
  gap: 20px;                /* espace entre les images (optionnel) */
}


body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #171717;
  color: #d1b266;
}

header {
  background-image: url('src/images_cite1.png');
  background-repeat: no-repeat;
  font-family: 'fontspring_demo_-_baskervilRg';
  font-size: 20px;
  background-color: #171717;
  color : white;
  padding: 20px;
  text-align: center;
}

header h1 {
    font-family: 'playlistscript';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color : #d1b266;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  color: #d1b266;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 30px;
  text-align: center;
}

section {
  margin-bottom: 40px;
}
section p,
section li {
    color: white;
}

.info {
    color: #d1b266;
}

footer {
  background-image: url('src/images_cite1.png');
  background-repeat: no-repeat;
  background-position: right;
  color : white;
  background-color: #171717;
  text-align: center;
  padding: 15px;
  font-size: 0.9em;
}


footer h2 {
    color: #d1b266;
}

@font-face {
    font-family: 'playlistscript';
    src: url('./font/playlist_script-webfont.woff2') format('woff2'),
         url('./font/playlist_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fontspring_demo_-_baskervilRg';
    src: url('fontspring-demo-bsd55-if66826cf1e460b-webfont.woff2') format('woff2'),
         url('fontspring-demo-bsd55-if66826cf1e460b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#map {
  width: 100%;
  height: 400px;
}